/* Add margin between the two boxes */
.reading-container {
  display: flex;
  height: calc(100vh - 64px);
  padding: 1rem;
  gap: 1rem;
  /* Add margin between the boxes */
}

/* Other CSS remains the same */
input[type="radio"].hidden {
  display: none;
}

.custom-radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
}

.custom-radio .radio-checkmark {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  background-color: white;
  border: 2px solid #0D6B6E;
  border-radius: 50%;
  transition: background-color 0.2s;
}

.custom-radio .radio-checkmark::after {
  content: "";
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #0D6B6E;
}

input[type="radio"].hidden:checked+.custom-radio .radio-checkmark::after {
  display: block;
}

.question-container {
  padding: 1rem;
}

.paragraph-container {
  border-left: 3px solid transparent;
  /* Default: hidden */
  padding-left: 10px;
}

.show-line {
  border-left: 3px solid #0D6B6E;
  /* Show the line only for the current paragraph */
}

.paragraph-container p {
  margin: 0;
}

.paragraph-line {
  border-left: 3px solid #0D6B6E;
  padding-left: 10px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.btn-confirm, .btn-cancel {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-confirm {
  background-color: #027f80;
  color: white;
}

.btn-cancel {
  background-color: #ccc;
  color: black;
}

.square-default {
  display: none;
}

.square {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #0D6B6E;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}

.inserted-sentence {
  background-color: #ccf5f7;
  border: solid 2px #0D6B6E;
  padding: 2px 5px;
  border-radius: 5px;
}

.reading-selected {
  background-color: #0D6B6E;
  color: white
}

/* Basic styles for the checkbox and label */
.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox-checkmark {
  position: relative;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.checkbox-checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 7px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.checkbox:checked + .custom-checkbox .checkbox-checkmark {
  background-color: #0D6B6E;
}

.checkbox:checked + .custom-checkbox .checkbox-checkmark:after {
  display: block;
}